header{
    background-image: url(img/ba1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 55vh;
    min-width: 88vh;
    color: white;
    
}
.ba1{
    background-image: url(img/ba1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.opa{
    background-color: rgba(0, 0, 0, 0.7)
}